<!--repeat per region-->
<div class="panel panel-default region">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <!--repeat per dealer-->
        <div class="panel panel-default dealer">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <!--repeat per car-->
                <div class="car">
                    
                </div>
            </div>
        </div>
    </div>
</div>
